<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="VaultItem" type="it.unisa.tirocinio.beans.VaultItem"*/-->
<form method="post" action="#" th:action="@{/app/create-item}" th:object="${VaultItem}">
    <label>
        <input type="text" th:field="*{id}">
    </label>
    <label>
        <input type="text" th:field="*{name}">
    </label>
    <input type="submit" value="Send">
</form>

</body>
</html>