<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8">
    <title>VaultItem</title>
</head>
<body>
<!--/*@thymesVar id="VaultItem" type="it.unisa.tirocinio.beans.VaultItem"*/-->
<form method="post" action="#" th:action="@{/app/vaultItem/save-vault-item}" th:object="${VaultItem}">
    <label>
        <input type="text" th:field="*{itemName}">
    </label>
    <label>
        <input type="text" th:field="*{resourceURI}">
    </label>
    <label>
        <input type="text" th:field="*{idCardNumber}">
    </label>
    <label>
        <input type="text" th:field="*{ownerId}">
    </label>
    <label>
        <input type="date" th:field="*{creationDate}">
    </label>
    <input type="submit" value="Send">
</form>

</body>
</html>