<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <label title="name">
        Nome:
        <input name="name" type="text">
    </label>

    <label title="surname">
        Cognome:
        <input name="surname" type="text">
    </label>

    <label title="email">
        Email:
        <input name="email" type="email">
    </label>

    <label title="password">
        Password:
        <input name="password" type="password">
    </label>

    <label title="birthDate">
        Data di nascita:
        <input name="birthDate" type="date">
    </label>
    <button formaction="https://localhost:8443/auth/register">Submit</button>
</form>
</body>
</html>